ul {
    list-style-type: none;
    padding: 12px 20px;
    margin: 8px 0px;
    overflow: hidden;
    position: relative;
    display: inline;
    box-sizing: border-box;
    color: white;

}

.card {
    background-color: rgba(154, 90, 165, 0.383) !important;
}

.card-body {
    padding: 4px;
    
}

li {
    display: inline;
}

li a:hover {
    background-color: transparent;
}

body {
    background-image: url("../images/purpFlwrBkg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

img.avatar {
    border: 6px double rgb(104, 227, 231);
    border-radius: 200px;
}

.active {
    color: blue;
}

.circleImage {
    border-radius: 50%;
    border-width: 13px;
    border-color: orange;
    border-style: dotted;
}


/* pseudo class exercise */
a.tesla-link {
    color: rgb(128, 98, 0);
    font-size: 30px;
    font-weight: bold;
    margin: 50px;
    text-decoration: underline;
}

a.tesla-link:visited {
    color: goldenrod;
    text-decoration: underline;
}

a.tesla-link:hover {
    background-color: rgb(223, 188, 31);
    color: rgb(236, 240, 191);
    text-decoration: none;
}

a.tesla-link:active {
    background-color: rgb(96, 68, 223);
    color: white;
    border: solid 5px #d3d026;
}

/* ============== BS components components customization ============== */

/* description section */
.customDescriptionSection {
    margin-top: 30px;
}

.avataCol {
    display: flex;
}

.biotTxt {
    text-align: center;
}

.biotTxt p:first-child {
    font-weight: bold;
    color: rgb(228, 168, 56);
    font-size: 25px;
}

.biotTxt p:nth-child(2) {
    letter-spacing: 5px;
    font-weight: lighter;
}

.biotTxtp p.descptionText {
    letter-spacing: 2px;
}

/* project gallery section */
.projectGallerySection {
    padding: 5px 0;
}

.projectGallerySection div.card {
    margin-bottom: 30px;
}

.projectGallerySection img.card-img-top {
    height: 200px;
    width: 200px;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    justify-content: center;
    align-content: center;
}

a.btn.projectCardBtn {
    background-color: orange;
    color: white;
    font-weight: bold;
    border: 1px solid transparent;
}

a.btn.projectCardBtn:hover {
    background-color: transparent;
    border: 1px solid orange;
    color: orange
}

.projectGallerySection .card-title {
    color: #226ed3;
    text-decoration: underline;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 3px;
}

.modal-content {
    background-color: rgb(170, 46, 164) !important;
    border-radius: 600px !important;
    object-fit: cover;
}

.d-block .w-100 {
    border-radius: 600px !important;
    object-fit: cover !important;
}

.fa-chevron-left .fa-chevron-right {
    color: ivory !important;
}

.customProjectModal button.close {
    opacity: 1;
}

.customProjectModal button.close>span {
    color: orange;
}

.customProjectModal button.close:hover {
    transform: scale(1.5);
}

.customProjectModal button.close>span:hover {
    color: #34af95;
}

.customProjectCarousel a span:first-child i {
    color: #34af95;
    font-size: 20px;
    z-index: 2;
}

.customProjectCarousel a.carousel-control-prev,
.customProjectCarousel a.carousel-control-next {
    opacity: none;
    color: lawngreen;
}

.customProjectCarousel a span:first-child i:hover {
    color: orange;
    z-index: 2;
}

.customProjectCarousel div.carousel-inner img {
    height: 500px;
    object-fit: cover;
}

.customProjectCarousel > ol li {
    border-radius: 50%;
    height: 15px;
    width: 15px;
}

.customProjectCarousel > ol li.active {
    background-color: lightcoral;
}

/*modual*/
.customProjectModal button.close {
    opacity: 1;
}

.customProjectModal button.close>span {
    color: orange;
}

.customProjectModal button.close:hover {
    transform: scale(1.5);
}

.customProjectModal button.close>span:hover {
    color: #34af95;
}

/* tool tip */
.customToolTip > div {
    display: flex;
    justify-content: center;
}
.customToolTip a.btn span i.fas.fa-chevron-circle-up {
    color: orange;
    font-size: 25px;
}

.customToolTip a.btn span i.fas.fa-chevron-circle-up:hover {
    color: #34af95;
}

/*media query*/
@media only screen and (max-width: 600px) {
    .sectionTitle > h2 {
        color: lightpink !important;
    }
}

@media only screen and (min-width: 600px) {
    .content > h2  {
        color: magenta !important;
    }
}

@media only screen and (min-width: 992px) {
    .content > h2 {
        color: mediumblue !important;
    }
}